.editorInactive {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: background-color 0.2s ease, backdrop-filter 0.2s ease;
  pointer-events: none;
  background-color: transparent;
  backdrop-filter: blur(0);
}

.editorInactive.visible {
  width: auto;
  height: auto;
  pointer-events: all;
  background-color: rgb(0,0,0,0.5);
   backdrop-filter: blur(5px);
}
