/* Style overrides for code mirror in Canvas. */

.canvasCodeMirrorEditor {
  font-size: var(--font-size-1);
  width: 100%;
  height: calc(100% - 2px);
  border: 1px solid var(--slate-6);
  border-left: none;
}

.canvasCodeMirrorEditor {
  :global(.cm-gutters) {
    background-color: var(--slate-2);
  }
  :global(.cm-panels) {
    font-size: var(--font-size-3);
  }
}
