{#
/**
 * @file
 * Template for 'Hero Section' paragraph. Wraps slides in Splide markup.
 */
#}
<section class="ibew-hero p-0 relative h-screen">
  <div id="ibewHeroSplide" class="splide h-full w-full">
    <div class="splide__track h-full w-full">
      <ul class="splide__list h-full w-full">
        {{ content.field_hero_slides }}
      </ul>
    </div>
  </div>
</section>
