{# paragraph--hero-slide.html.twig #}
{% set image_url = file_url(content.field_hero_image['0']['#item'].entity.uri.value) %}

<li class="splide__slide h-full w-full relative">
    <div class="absolute inset-0 bg-cover bg-center" style="background-image: url('{{ image_url }}');">
    </div>
</li>
