// Override Bootstrap variables here
$primary: #003366; // Dark Blue often used by unions
$secondary: #ffd700; // Gold/Yellow often used by IBEW
$font-family-sans-serif: 'Inter', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
