{#
/**
 * @file
 * IBEW Footer Component
 */
#}
<footer class="ibew-footer">
  <div class="ibew-footer__container">
    <div class="ibew-footer__grid">
      <div class="ibew-footer__brand">
        <h3>{{ site_name }}</h3>
        <p>Empowering electricians with the best training, wages, and benefits since 1900.</p>
      </div>
      
      <div class="ibew-footer__links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Training</a></li>
          <li><a href="#">Contractors</a></li>
        </ul>
      </div>
      
      <div class="ibew-footer__links">
        <h4>Members</h4>
        <ul>
          <li><a href="#">Member Login</a></li>
          <li><a href="#">Pay Dues</a></li>
          <li><a href="#">Benefits</a></li>
          <li><a href="#">Resources</a></li>
        </ul>
      </div>
      
      <div class="ibew-footer__contact">
        <h4>Contact</h4>
        <ul>
          <li>2 North Plains Industrial Rd</li>
          <li>Wallingford, CT 06492</li>
          <li>(203) 265-9533</li>
          <li>info@ibew90.org</li>
        </ul>
      </div>
    </div>
    
    <div class="ibew-footer__bottom">
      <p>&copy; {{ copyright_year }} {{ site_name }}. All rights reserved.</p>
    </div>
  </div>
</footer>
