// Styles for the header are now handled in src/scss/_frontpage.scss (or src/scss/components/_header.scss if refactored)
// This file is deprecated to avoid style conflicts.
// See .ibew-nav in _frontpage.scss