{#
/**
 * @file
 * Theme override to display a single page.
 */
#}
<div class="layout-container">
  {% include 'ibew_theme:ibew-header' with {
    site_name: 'IBEW Local 90',
    slots: {
      navigation: page.primary_menu
    }
  } %}

  {% if is_front %}
    {% include 'ibew_theme:ibew-hero' %}
  {% endif %}

  <main role="main" class="main-content">
    <a id="main-content" tabindex="-1"></a>

    <div class="container">
      <div class="row">
        {% if page.sidebar_first %}
          <aside class="col-md-3 sidebar-first" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}

        <div class="{{ page.sidebar_first and page.sidebar_second ? 'col-md-6' : page.sidebar_first or page.sidebar_second ? 'col-md-9' : 'col-md-12' }}">
          {{ page.content }}
        </div>

        {% if page.sidebar_second %}
          <aside class="col-md-3 sidebar-second" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}
      </div>
    </div>
  </main>

  {% include 'ibew_theme:ibew-footer' with {
    site_name: 'IBEW Local 90',
    copyright_year: 'now'|date('Y')
  } %}
</div>
